body {
    background-image: url(image/photo1.png);
    background-size: auto;
    width: auto;
    height: auto;
    font-family: 'Trebuchet MS';
}

.home-section {
    background-color: rgba(15, 15, 15, 0.76);
    border-radius: 2px;
    border-radius: 30px;
    width: 600px;
    height: 700px;
    align-items: center;
    position: absolute;
    right: 600px;
    top: 100px;
    transition: 1s all ease-in-out;
}
.home-section:hover {
    border-radius: 120px;
}

.info {
    position: absolute;
    text-align: center;
    justify-items: center;
    left: 137px
}

.font-main {
    color: rgba(255, 255, 255, 0.925);
    font-size: 30px;
    left: 10px;
}

.font-two {
    color: rgba(255, 255, 255, 0.925);
    font-size: 26px;
    left: 10px;
}

.ava {
    border-radius: 120px;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 70px;
    top: 240px;
}

#bth {
    align-items: center;
    border: 3px solid;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.925);
    font-size: 25px;
    top: 500px;
    left: 50px;
    text-decoration: none;
    position: absolute;
    padding: .1em 1em;
    transition: 1.5s all ease-in-out;
}
#bth:hover {
    border-radius: 180px;
    color: aqua;
}
